.CommitLabel {
    -fx-font-size: 0.85em;
    -fx-font-weight: bold;
    -fx-padding: 0 5 0 5;
    -fx-background-insets: 0 2 0 0;
    -fx-border-style: solid;
    -fx-border-color: rgb(80,80,80);
    -fx-border-width: 2;
    -fx-border-radius: 2;
    -fx-border-insets: 0 2 0 0;
}
.LocalBranchLabel {
    -fx-background-color: rgb(117, 207, 77);
}
.RemoteBranchLabel {
    -fx-background-color: rgb(206, 141, 128);
}
.TagLabel {
    -fx-background-color: rgb(238, 238, 148);
}

