
* {
    -foreground-color: rgb( 10, 10, 10);
    -background-color: rgba(200,200,200, 1.0);
    -split-pane-color: rgb(220,220,220);
    -selected-color:   rgb(  0,170,220);
}

.root {
    -fx-base: rgba(200, 200, 200, 0.5);
}

.dialog-pane {
    -fx-background-color: -background-color;
}

/* Check Box */
.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;
    -fx-padding: 1px;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: -selected-color;
}

/* Radio Button */
.radio-button:selected .dot {
    -fx-background-color: -selected-color;
    -fx-background-insets: 0;
}
.radio-button:selected .radio {
    -fx-border-width: 0;
}

/* Scroll Bar */
.scroll-bar {
    -fx-background-color: -split-pane-color;
    -fx-padding: 0;
}
.scroll-bar:vertical {
    -fx-pref-width: 12;
}
.scroll-bar:horizontal {
    -fx-pref-height: 12;
}
.scroll-bar .track {
    -fx-background-color: -split-pane-color;
    -fx-background-insets: 1;
}
.scroll-bar .thumb {
    -fx-background-color: rgb(150,150,150);
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}
.scroll-bar .decrement-button,
.scroll-bar .increment-button,
.scroll-bar .decrement-arrow,
.scroll-bar .increment-arrow {
    -fx-padding: 0;
}

/* Menu */
.menu-item {
    -fx-background-color: -background-color;
}
.menu-item:focused {
     -fx-background-color: -selected-color;
}
/* Split Divider */
.split-pane-divider {
    -fx-border-color: -background-color;
    -fx-background-color: -split-pane-color;
    -fx-padding: 1;
}

/* Table View */
.table-view {
    -fx-selection-bar-non-focused: derive(-fx-selection-bar, 50%);
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: -background-color;
    -fx-border-color: white;
}
.table-row-cell:selected {
    -fx-background-color: -selected-color, -fx-background;
}
.table-row-cell:odd:filled {
    -fx-control-inner-background: rgb(210, 220, 255);
}
.table-row-cell:even:filled {
    -fx-control-inner-background: white;
}
.table-row-cell:empty {
    -fx-background-color: -split-pane-color;
}

/* Dialog */
.dialog-pane {
    -fx-background-color: -background-color;
}

/* Button */
.button {
    -fx-font-weight: bold;
    -fx-background-color: -background-color;
    -fx-effect: dropshadow( three-pass-box , rgba(20,20,20,0.6), 3, 0.0, 0, 1);
}

/* TextArea */
.text-area {
    -fx-font-family: "Meiryo UI", sans-serif;
    -fx-background-color: -split-pane-color;
}
.text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

/* ================================================================
    Branch List
*/
.BranchList {
    -fx-background-color: -background-color;
}

/* ================================================================
    StatusBar
*/
.StatusBar {
    -fx-background-color: -background-color;
    -fx-effect: innerShadow(three-pass-box, gray, 3, 0.5, 1, 1);
    -fx-padding: 3 10;
    -fx-spacing: 10;
}

/* ================================================================
    コミット一覧
*/
.CommitList .column-header,
.CommitList .column-header-background .filler {
    -fx-pref-height: 14;
}
.CommitList .header-row {
    -fx-background-color: #ddeedd;
}
.CommitList .header-row:selected {
    -fx-background-color: -selected-color, -fx-background;
}

/* ================================================================
    コミット情報
*/
.CommitInfo, .CommitFileList {
    -fx-background-color: -background-color;
}

/* ================================================================
    FontIcon
*/
FontIcon {
    -fx-icon-size: 18;
	-fx-icon-color: #202020;
}
.menu-item FontIcon         { -fx-icon-color: -fx-selection-bar;      }
.menu-item:focused FontIcon { -fx-icon-color: -fx-selection-bar-text; }
